* { 
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(135, 205, 229), rgb(187, 116, 187));
    margin: 20px;
}

h1{
    text-align: center;
    font-size: 3rem;
}

.navbar{
    width: 800px;
    max-width: 95%;
}

.navbar ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    background-color: linear-gradient(135deg, rgb(135, 205, 229), rgb(187, 116, 187));
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: linear-gradient(135deg, rgb(135, 205, 229), rgb(187, 116, 187));
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.navbar li{
    flex: 1;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
    width: 800px;
    max-width: 95%;
    margin: 50px auto;
}

main .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgba(255,255,255,0.37);
    padding: 25px 35px;
    border-radius: 10px;
}

.registration{
    width: 800px;
    max-width: 95%;
    background: white;
    padding: 25px 35px;
    border-radius: 10px;
}

.registration .title{
    font-size: 2rem;
    position: relative;
}

.registration .title::before,
.roster .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, rgb(135, 205, 229), rgb(187, 116, 187));
}

.registration form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: medium;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding-left: 15px;
    font-size: 1rem;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: rgb(187, 116, 187)
}

form .register-btn,
form .reset-btn{
    display: flex;
    justify-content: center;
    height: 45px;
}

form .register-btn{
    height: 45px;
    margin-top: 45px;
}

form .register-btn input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, rgb(135, 205, 229), rgb(187, 116, 187));
}

form .register-btn input:hover{
    background: linear-gradient(-135deg, rgb(135, 205, 229), rgb(187, 116, 187));
    cursor: pointer;
}

form .reset-btn input{
    outline: none;
    color: black;
    border: none;
    background: white;
    letter-spacing: 1px;
    font-size: 1rem;
}

form .reset-btn input:hover{
    color: rgb(187, 116, 187);
    cursor: pointer;
}

.roster{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    max-width: 95%;
    background: rgba(255,255,255,0.37);
    padding: 25px 35px;
    border-radius: 10px;
    margin-top: 60px;
}

.roster .title{
    font-size: 2rem;
    position: relative;
    align-self: flex-start;
}

.roster-details{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 10px;
}

.roster-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    border-bottom: 1px solid rgb(167, 163, 163);
    padding: 10px;
}

.roster-image{
    width: 100px; 
    height: 100px;
}


.roster-card-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.delete-btn{
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete-all-btn{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete-btn:hover,
.delete-all-btn:hover{
    background-color: darkred;
}

@media (max-width: 880px) {
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 95%;
    }

    .registration form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .roster-card,
    .roster-card-details{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .roster-card{
        gap: 20px;
        flex-wrap: wrap;
    }

    .delete-btn{
        margin-bottom: 10px;
    }
}
